<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cursos online</title>
</head>
<body>
{% extends "./base.html" %}
{% block conteudo%}
    <section id="home" class="d-flex justify-content-center align-items-center"> <!--Inicio home-->
      <div class="container_section align-self-center">
        <div class="row">
          <div class="col-md-12 capa_menu">

            <h1>Courses for everyone</h1>

            </a>
          </div>
        </div>
      </div>
    </section> <!--Fim home-->

     <section id="servicos" class="caixa"> <!--inicio servicos-->
      <div class="container_section">
        <div class="row">
          <div class="col-md-6">
            <div class="row albuns">
              <div class="col-md-6">
                <img src="../../../static/cursos/images/img5.gif" width="640" height="640" class="img-fluid d-none d-md-block">
              </div>

              <div class="col-md-6">
                <img src="../../../static/cursos/images/img7.gif" width="640" height="640"  class="img-fluid d-none d-md-block">
              </div>

            </div>

            <div class="row albuns">
              <div class="col-md-6">
                <img src="../../../static/cursos/images/Rust_img8.gif"  width="640" height="640" class="img-fluid d-none d-md-block">
              </div>

              <div class="col-md-6">
                <img src="../../../static/cursos/images/img8_js.gif" width="640" height="640" class="img-fluid d-none d-md-block">
              </div>

            </div>
          </div>

          <div class="col-md-6">

              <h2>Quais cursos melhor avaliados?</h2>

              <h3>Java</h3>
              <p>
Descubra as vantagens inigualáveis de aprender Java conosco e abra portas para um futuro repleto de oportunidades! Aprender Java oferece uma base sólida para sua carreira em programação, uma vez que é uma das linguagens mais amplamente utilizadas no mundo. Com Java, você poderá desenvolver aplicativos móveis, sistemas corporativos e até mesmo jogos emocionantes. Além disso, a portabilidade do Java permite que seus programas sejam executados em diferentes plataformas, aumentando sua relevância e alcance. Nossos cursos abrangentes, ministrados por instrutores especializados, garantem que você domine as melhores práticas e as últimas tendências da linguagem. Invista em seu futuro e adquira as habilidades necessárias para se destacar no mercado de trabalho, escolhendo nossos cursos de Java de alta qualidade. Não espere mais, comece sua jornada de aprendizado hoje mesmo e alcance o sucesso que você merece!
              </p>

              <h3>Python</h3>
              <p>

Desbloqueie seu potencial com Python! Aprenda a linguagem de programação mais procurada e potencialize sua carreira. Python é fácil de aprender, com uma sintaxe clara e legível. Com sua versatilidade, você pode criar desde aplicações web e científicas até soluções de automação. Com uma grande comunidade de desenvolvedores e ampla disponibilidade de recursos, Python oferece suporte e oportunidades ilimitadas. Não perca tempo, invista em você e se destaque no mercado de trabalho com o curso de Python!
              </p>

              <h3>Novos lançamentos</h3>
              <p>Explore as novidades do mundo da programação com os lançamentos de Rust e Kotlin! Rust, uma linguagem de programação de sistema, oferece um alto desempenho e segurança de memória excepcionais. Com sua sintaxe moderna e poderosas ferramentas de gerenciamento de concorrência, Rust se destaca no desenvolvimento de aplicativos robustos e escaláveis. Por outro lado, Kotlin, uma linguagem de programação multiplataforma, combina a concisão do código com uma integração perfeita com o ecossistema Java. Com Kotlin, você pode criar aplicativos Android, servidores backend e até mesmo aplicativos de desktop, tudo em uma única linguagem. Não perca a oportunidade de se aventurar nessas tecnologias inovadoras e expandir suas habilidades de programação com os novos lançamentos de Rust e Kotlin!
              </p>

            </div>
          </div>
        </div>
      </div>
    </section> <!--Fim servicos-->

     <footer><!--inicio rodape-->
      <div class="container">
        <div class="row">
             <div class="col-md-2">
            <img src="../../../static/cursos/images/logo.png" width="200">
          </div>


          <div class="col-md-2">
           <h4>company</h4>
           <ul class="navbar-nav">
             <li><a href="">Sobre</a></li>
             <li><a href="">Empregos</a></li>
             <li><a href="">Impresa</a></li>
             <li><a href="">Novidades</a></li>

           </ul>
          </div>

          <div class="col-md-2">
           <h4>comunidades</h4>
           <ul class="navbar-nav">
             <li><a href="">Cursos</a></li>
             <li><a href="">Professores</a></li>
             <li><a href="">Aulas</a></li>
           </ul>
          </div>

          <div class="col-md-2">
           <h4>links uteis</h4>
           <ul class="navbar-nav">
             <li><a href="">Ajuda</a></li>
             <li><a href="">Presentes</a></li>
             <li><a href="">Player da web</a></li>
           </ul>
          </div>

           <div class="col-md-4">
            <ul>
              <li>
                <a href=""><img src="../../../static/cursos/images/facebook.png"></a>
                <a href=""><img src="../../../static/cursos/images/twitter.png"></a>
                <a href=""><img src="../../../static/cursos/images/instagram.png"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer> <!--Fim rodape-->




{% endblock %}
</body>
</html>