<head>
    <title>Login</title>

</head>
<body>
{% extends "./base.html" %}
{% block conteudo%}

<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6">
      <div class="container_login">
        <h2 class="text-white">Login</h2>
        <form action="{% url 'cursos:login' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" name="username" class="form-control" required />
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" class="form-control" required />
          </div>
          <input type="submit" value="Login" class="btn btn-primary" />
        </form>
      </div>
    </div>
  </div>
</div>
{% if error_message %}
        <script>
        alert("{{ error_message }}");

    </script>

{% endif %}
    <footer><!--inicio rodape-->
      <div class="container">
        <div class="row">

          <div class="col-md-2">
           <h4>company</h4>
           <ul class="navbar-nav">
             <li><a href="">Sobre</a></li>
             <li><a href="">Empregos</a></li>
             <li><a href="">Impresa</a></li>
             <li><a href="">Novidades</a></li>

           </ul>
          </div>

          <div class="col-md-2">
           <h4>comunidades</h4>
           <ul class="navbar-nav">
             <li><a href="">Cursos</a></li>
             <li><a href="">Professores</a></li>
             <li><a href="">Aulas</a></li>
           </ul>
          </div>

          <div class="col-md-2">
           <h4>links uteis</h4>
           <ul class="navbar-nav">
             <li><a href="">Ajuda</a></li>
             <li><a href="">Presentes</a></li>
             <li><a href="">Player da web</a></li>
           </ul>
          </div>

           <div class="col-md-4">
            <ul>
              <li>
                <a href=""><img src="../../../static/cursos/images/facebook.png"></a>
                <a href=""><img src="../../../static/cursos/images/twitter.png"></a>
                <a href=""><img src="../../../static/cursos/images/instagram.png"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer> <!--Fim rodape-->

{% endblock %}
</body>