<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
     <style>
    form {
      max-width: 500px;
      margin: 0 auto;

    }
    input {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 16px;
    }
    button {
      display: block;
      margin: 0 auto;
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      background-color: #007bff;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
    }
  </style>
</head>
<body>

{% extends "./base.html" %}
{% block conteudo%}
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="col-md-6">
        <form action="{% url 'cursos:compra' curso.pk%}"
        method="post">
         {% csrf_token %}
        <label for="cardNumber">Card Number:</label>
        <input type="text" id="cardNumber" name="cardNumber" placeholder="1234 5678 9012 3456" maxlength="19" required>

        <label for="cardName">Name on Card:</label>
        <input type="text" id="cardName" name="cardName" placeholder="John Doe" required>

        <label for="expiryMonth">Expiry Month:</label>
        <input type="text" id="expiryMonth" name="expiryMonth" placeholder="10" maxlength="2" required>

        <label for="expiryYear">Expiry Year:</label>
        <input type="text" id="expiryYear" name="expiryYear" placeholder="2022" maxlength="4" required>



        <label for="cvv">CVV:</label>
        <input type="text" id="cvv" name="cvv" placeholder="123"  maxlength="3" required>

        <button class = "form-button" type="submit">Submit Payment</button>
      </form>

    <script>
            const cardNumberInput = document.getElementById('cardNumber');

            cardNumberInput.addEventListener('input', (e) => {
                const input = e.target.value;
                e.target.value = input.replace(/[\W\s\._\-]+/g, '').replace(/(\d{4})/g, '$1 ').trim();

            });

            const expiryMonthInput = document.getElementById("expiryMonth");
            expiryMonthInput.addEventListener("input", function() {
              // remover caracteres que não são números
              this.value = this.value.replace(/[^0-9]/g, "");

              // limitar o valor para ser entre 1 e 12
              const valueAsNumber = Number(this.value);
              if (valueAsNumber < 1 || valueAsNumber > 12) {
                this.setCustomValidity("Please enter a valid expiry month (1-12).");
              } else {
                this.setCustomValidity("");
              }
            });


            const expiryYearInput = document.getElementById("expiryYear");
            expiryYearInput.addEventListener("input", function() {

              this.value = this.value.replace(/[^0-9]/g, "");
            });





            const cvvInput = document.getElementById("cvv");
            cvvInput.addEventListener("input", function() {

              this.value = this.value.replace(/[^0-9]/g, "");



            });



        </script>

{% endblock %}
        </div>
    </div>
</body>
</html>